@mixin brand {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    font-family: "Roboto Slab";
}

.whiteLogo {
    @include brand;
    color: #fff;
}

.blueLogo {
    @include brand;
    color: #2577fa;
}